<!-- Forgot password -->
<div class="row gx-0">
  <!-- Banner Content -->
  <div class="col-lg-6 position-relative banner-section">
    <div class="authentication-wrapper h-100">
      <div class="authentication-content">
        <div class="content-overlay px-5">
          <h1 class="display-4 fw-bold text-white mb-4 animate__animated animate__fadeInDown">Réinitialisez votre mot de passe
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner Content -->

  <!-- forgot password Contentt -->
  <div class="col-lg-6 d-flex align-items-center justify-content-center py-5 bg-light">
    <div class="saas-signup-wrapper px-3 px-md-5 py-4 w-100" style="max-width: 600px;">
      <form class="needs-validation" novalidate>
        <!-- Step 2 -->
        <div>
          <div class="text-center mb-5">
            <h2 class="fw-bold mb-3">Sécurisez votre compte</h2>
            <p class="text-muted">Créez un mot de passe robuste</p>
          </div>

          <div class="form-floating mb-4">
            <div class="password-input">
              <input [type]="show_password ? 'text' : 'password'" class="form-control form-control-lg" id="password"
                required>
              <label for="password">Mot de passe</label>
              <button type="button" (click)="show_password = !show_password" class="btn btn-link">
                <i class="fas" [ngClass]="show_password ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
            <div class="password-strength mt-2">
              <div class="strength-bar"></div>
            </div>
          </div>

          <div class="form-floating mb-4">
            <div class="password-input">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control form-control-lg"
                id="confirmPassword" required>
              <label for="confirmPassword">Confirmer le mot de passe</label>
              <button type="button" (click)="toggleConfirmPasswordVisibility()" class="btn btn-link">
                <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-4" style="border: 1px solid teal">
            <button type="submit" class="btn btn-primary btn-lg px-5 py-3" >
              S'inscrire
            </button>
          </div>

          <div class="text-center text-muted mt-4">
            Déjà un compte? <a [routerLink]="routes.sassLogin" class="text-decoration-none">Connexion</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /forgot password Content -->
</div>
<!-- /Forgot password-->
